@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f37328;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #f7b19f;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 800px;
  margin-bottom: 20px;
}

h3 {
  margin: 10px;
  opacity: 0.8;
  letter-spacing: 2px;
}

.middle-container .word-list {
    
  background-color: #f0d39c;
  font-size: 18px;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.bottom-container .story-container {
    
  background-color: #f0d39c;
  font-size: 18px;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.btn {
  background-color: #6ce248;
  color: #000000;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}
